/audio-feature-extractor/Data_Test/
/audio-feature-extractor/Data_Train_to_DB/
/audio-search-backend/vendor/
/.idea/
/audio-search-backend/.idea/
/audio-search-backend/tmp/
/Slides
/audio-feature-extractor/audio_features_normalized.csv
/audio-feature-extractor/audio_features.csv
/audio-feature-extractor/scaler_params.csv